.NavigationBar{
    display: flex;
    width: 100%;
}
.navbarContainner{
    width: 100%;
    justify-content: space-between;
    padding-left: 16px;
    margin: 3px;
    display: flex;
    align-items: center;
}
.bellIcon{
    cursor: pointer;
    font-size: 12px;
    color: #8295a8;;
}